# dependencias
/node_modules/
/bower_components/

# build
/build/
/dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# sistema
.DS_Store
Thumbs.db